<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Hello world from Cloud9!</title>
               
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="home.css">
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        </head>
	
	<body style="background-color: green;">
		<h1 style="font-size: 40px;text-align:center; font-color: Blue"><strong>Express, Express! Equality!!</strong></h1>
<button>Regular Button</button>
<button class="btn btn-primary">Primary Button</button>
<button class="btn btn-info">Info Button</button>
<button class="btn btn-success">Success Button</button>
<button class="btn btn-warning">Issues Button</button>
<button class="btn btn-danger">Forum Button</button>
    <div class="row">
			<ol style="background-color: yellow;">
				<li>African American</li>	
				<li>LGBTQ</li>
				<li>Latinos</li>
			</ol>	
			<h2 style="color: blue; font-size: 20px; font-family:Arial">  What to do?</h1>

             <p1>    This website is a great website that involves freedom of expression in which one can express feelings and interests about a certain field of social injustice
   outlined below.</p1> 
             <p2>   One can also get resources such as prmiary sources, links and connections to nearby or statewide organizationsconnect to your topic. The topic is shown in the table. You do not have to pick the topic for your resources, but for the wall, or forum, you make 
   you will have to get a set topic.</p2>
       <p1 style="text-aligned: center"></p1>
   
    <table border="4px">
            <tr>
                <td>Racial Issues</td>
                <td>LGBTQ</td>
                <td>African Americans</td>
                <td>Latinas</td>
            </tr>
 </div>
     <a href="https://ide.c9.io/unsurmountable22/awesomeproject"></a>
         
     <a href="http://www.bing.com/videos/search?q=LGBTQ+in+Massachusetts&=&view=detail&mid=4E1CDC0DA9FE073F58C74E1CDC0DA9FE073F58C7&FORM=VDHSOP&fsscr=0">Current Issues</a>
      <embed="http://www.bing.com/videos/search?q=LGBTQ+in+Massachusetts&=&view=detail&mid=4E1CDC0DA9FE073F58C74E1CDC0DA9FE073F58C7&FORM=VDHSOP&fsscr=0">Current issues</embed>  
    </body>
</html>